.bg-headers{
    min-height: 100vh;
    color: #000000;
}
.text-headers{
    color: black;
    font-size: 50px;
    text-align: justify;
}
.btn-headers{
    width: fit-content;
    text-align: center;
}
.col-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    background-color: white;
    border-bottom: 2px solid #000;
}